<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="HybridSuite">

    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
    </listeners>

<test name="LoginTest">
        <classes>
            <class name="com.automation.tests.LoginTest"/>
        </classes>
    </test>
    
    <test name="EndToEndTestForCheckout">
        <classes>
            <class name="com.automation.tests.EndToEndTest"/>
        </classes>
    </test>

</suite>